---
import Icon from "astro-icon";

const info = {
  title: "Proyectos",
  description:
    "Estos son algunos de los proyectos en los que trabajamos y son Open Source.",
  proyectos: [
    {
      title: "My Level",
      description:
        "Extensión para Google Chrome de encuesta para medir el seniority de los desarrolladores.",
      link: "https://chrome.google.com/webstore/detail/my-level/mbdaaoibdkddnkadkpjakclfhfogenma",
      repo: "https://github.com/Trycatch-tv/my-level",
    },
    {
      title: "Sitio Devs Latam",
      description:
        "Landing Page de Devs Latam, con información de la comunidad y sus proyectos.",
      link: "https://dev-devslatam.netlify.app/",
      repo: "https://github.com/Trycatch-tv/devs-latam-frontend",
    },
    {
      title: "Acortador de links",
      description:
        "Acortador de enlaces con AWS Lambdas, React y DynamoDB para los videos que se comparten en las diferentes cuentas.",
      link: "https://trycatchlinks.netlify.app",
      repo: "https://github.com/Trycatch-tv?q=short&type=all&language=&sort=",
    },
  ],
};
---

<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-10 lg:p-12 mb-8 shadow-lg">
      <!-- Título -->
      <div class="text-center">
        <h2 class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold">
          {info.title}
        </h2>
        <p class="text-tc-gray text-base mt-3">{info.description}</p>
      </div>

      <!-- Contenedor de Proyectos -->
      <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {info.proyectos.map((proyecto) => (
          <div class="bg-tc-black-l p-6 rounded-lg shadow-md transition-transform transform hover:scale-105">
            <h3 class="text-tc-gray-l text-lg font-semibold">{proyecto.title}</h3>
            <p class="text-tc-gray text-sm mt-2">{proyecto.description}</p>

            <!-- Botones -->
            <div class="mt-4 flex justify-between">
              <a
                href={proyecto.link}
                target="_blank"
                class="flex items-center gap-2 px-4 py-2 bg-gray-300 rounded-md text-sm font-semibold hover:bg-tc-black hover:text-tc-yellow transition"
              >
                <Icon class="w-5 h-5 text-tc-black-l" name="carbon:view-filled" />
                Ver
              </a>
              <a
                href={proyecto.repo}
                target="_blank"
                class="flex items-center gap-2 px-4 py-2 bg-gray-300 rounded-md text-sm font-semibold hover:bg-tc-black hover:text-tc-yellow transition"
              >
                <Icon class="w-5 h-5 text-tc-black-l" name="mdi:github" />
                Repo
              </a>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
