---
import Icon from "astro-icon";
const info = {
  title: "Proyectos",
  description:
    "Estos son algunos de los proyectos en los que trabajamos y son Open Source",
  proyectos: [
    {
      title: "My Level",
      description:
        "Extensión para Google Chrome de encuesta para medir el seniority de los desarrolladores.",
      link: "https://chrome.google.com/webstore/detail/my-level/mbdaaoibdkddnkadkpjakclfhfogenma",
      repo: "https://github.com/Trycatch-tv/my-level",
    },
    {
      title: "Sitio Devs Latam",
      description:
        "Lading Page de Devs Latam, con información de la comunidad y sus proyectos.",
      link: "https://dev-devslatam.netlify.app/",
      repo: "https://github.com/Trycatch-tv/devs-latam-frontend",
    },
    {
      title: "Acortador de links",
      description:
        "Acortador de enlaces con AWS Lambdas, React y DynamoDB para los videos que se comparten en las diferentes cuentas.",
      link: "https://trycatchlinks.netlify.app",
      repo: "https://github.com/Trycatch-tv?q=short&type=all&language=&sort=",
    },
  ],
};
---

<section>
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div class="bg-tc-black border border-gray-700 rounded-lg p-12 mb-8">
      <div>
        <span
          class="text-tc-gray-l text-3xl lg:text-4xl font-extrabold mt-5 mb-6"
        >
          {info.title}
        </span>
      </div>
      <div class="mt-4">
        <div class="text-tc-gray-l text-sm mb-4">
          {info.description}
        </div>
        <div class="flex flex-col lg:flex-row lg:justify-between">
          {
            info.proyectos.map((proyecto) => (
              <div class="flex flex-col items-center bg-tc-black-l py-4 px-8 rounded-md mb-4 lg:mb-0 w-full lg:w-1/4">
                <div class="text-tc-gray-l text-lg">{proyecto.title}</div>
                <hr class="w-full border-t border-gray-600 my-3" />
                <div class="mt-2 mb-4 h-20">
                  <span class="text-justify text-[10px] text-tc-gray">
                    {proyecto.description}
                  </span>
                </div>
                <hr class="w-full border-t border-gray-600 my-3" />
                <div class="flex justify-around md:justify-around w-full">
                  <a
                    href={proyecto.link}
                    class=" bg-slate-300 px-2 py-0.5 rounded-md flex items-center justify-center hover:bg-tc-black transition transition-fade duration-300 ease-in-out hover:text-tc-yellow"
                  >
                    <Icon
                      class="w-4 h-4 text-tc-black-l"
                      name="carbon:view-filled"
                    />
                    <span class="text-xs ml-2">Ver</span>
                  </a>
                  <a
                    href={proyecto.repo}
                    class="bg-slate-300 px-2 py-0.5 rounded-md flex items-center justify-center hover:bg-tc-black transition transition-fade duration-300 ease-in-out hover:text-tc-yellow"
                  >
                    <Icon class="w-4 h-4 text-tc-black-l" name="mdi:github" />
                    <span class="text-xs ml-2">Repo</span>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
