---
const info = {
  title: "Comunidad Nas.io",
}

const { imageSrc, heading, subheading, cards, buttonText, buttonLink } =
  Astro.props
---

<section class="relative overflow-hidden rounded-2xl mb-8">
  <div class="px-4 lg:mx-auto lg:max-w-screen-xl">
    <div
      class="relative bg-tc-black border border-gray-700 rounded-lg p-10 lg:p-12 mb-8 bg-cover bg-center"
      style={`background-image: url(${imageSrc});`}
    >
      <!-- Overlay para oscurecer el fondo -->
      <div class="absolute inset-0 bg-black opacity-50"></div>

      <div
        class="relative z-10 max-w-6xl mx-auto py-16 px-6 text-center text-white"
      >
        <h2 class="text-3xl md:text-4xl font-extrabold mb-4">{heading}</h2>
        {subheading && <p class="text-lg md:text-xl mb-12">{subheading}</p>}

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8 mb-8">
          {
            cards.map((card) => (
              <div class="bg-gray-500 bg-opacity-80 rounded-xl p-6 flex flex-col items-center text-center">
                <div class="text-4xl mb-4">{card.icon}</div>
                <h3 class="text-xl font-bold mb-2">{card.title}</h3>
                <p class="text-gray-300 mb-4">{card.description}</p>
                {card.link && (
                  <a
                    href={card.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="mt-auto inline-block bg-tc-yellow text-tc-black font-medium px-4 py-2 rounded-lg hover:opacity-90 transition"
                  >
                    Ver más
                  </a>
                )}
              </div>
            ))
          }
        </div>

        <div class="flex items-center justify-center gap-4 mt-8">
          <a
            href={buttonLink}
            class="flex items-center justify-center gap-2 py-3 px-6 text-base font-semibold rounded-lg text-tc-black bg-tc-gray-l hover:bg-tc-yellow transition-transform transform hover:scale-105 w-6/12"
            target="_blank"
          >
            {buttonText}
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
