---
import { Image } from "astro:assets"
import AnaRangel from "../assets/img/guests/anarangel.png"
import AndresHernandez from "../assets/img/guests/andreshernandez.jpeg"
import AngieSuarez from "../assets/img/guests/angiesuarez.png"
import BernyMohnblatt from "../assets/img/guests/bernymohnblatt.png"
import CarlosPenaranda from "../assets/img/guests/carlospenaranda.jpg"
import CarlosSuarez from "../assets/img/guests/carlossuarez.jpeg"
import CarlosZambrano from "../assets/img/guests/carloszambrano.jpeg"
import CristianHenao from "../assets/img/guests/cristianhenao.png"
import CristianMoreno from "../assets/img/guests/cristianmoreno.png"
import DarioCorreal from "../assets/img/guests/dariocorreal.png"
import ElProgramadorGT from "../assets/img/guests/elprogramadorgt.png"
import ErikAlmaraz from "../assets/img/guests/erikalmaraz.png"
import FaridMoreno from "../assets/img/guests/faridmoreno.png"
import FrankValencia from "../assets/img/guests/frankvalencia.png"
import GiovannyAriza from "../assets/img/guests/giovanniariza.jpeg"
import Halltec from "../assets/img/guests/halltec.png"
import HectorFernandez from "../assets/img/guests/hectorfernandez.jpg"
import JaimeCuellar from "../assets/img/guests/jaimecuellar.png"
import JaimeSanchez from "../assets/img/guests/jaimesanchez.png"
import JamiltonQuintero from "../assets/img/guests/jamiltonquintero.png"
import JimyDolores from "../assets/img/guests/jimydolores.jpeg"
import JuanAgogo from "../assets/img/guests/juanagogo.jpg"
import LauraVelez from "../assets/img/guests/lauravelez.jpeg"
import LeandroRivera from "../assets/img/guests/leandrorivera.jpeg"
import LuisJimenez from "../assets/img/guests/luisjimenez.png"
import LuisOspina from "../assets/img/guests/luisospina.png"
import MarcelaVargas from "../assets/img/guests/marcelavargas.jpeg"
import MiguelSilva from "../assets/img/guests/miguelsilva.jpg"
import MiguelTeheran from "../assets/img/guests/miguelteheran.png"
import MillerTrujillo from "../assets/img/guests/millertrujillo.jpeg"
import NataliaBetancur from "../assets/img/guests/nataliabetancur.png"
import NicolasFajardo from "../assets/img/guests/nicolasfajardo.jpeg"
import NicolasVasquez from "../assets/img/guests/nicolasvasquez.png"
import Pamsho from "../assets/img/guests/pamsho.jpg"
import RafaelCapilla from "../assets/img/guests/rafaelcapilla.jpg"
import RicardoSantos from "../assets/img/guests/ricardosantos.png"
import SergioOspina from "../assets/img/guests/sergioospina.png"
import ValentinaPinzon from "../assets/img/guests/valentinapinzon.png"
import VictorTrujillo from "../assets/img/guests/victortrujillo.png"
import YoAndroide from "../assets/img/guests/yoandroide.jpg"
import YulimarDuque from "../assets/img/guests/yulimarduque.png"
import BaseLayout from "../layouts/BaseLayout.astro"
const info = {
  title: "Invitados",
  guests: [
    {
      name: "Valentina Pinzón",
      avatar: ValentinaPinzon,
      role: "creadora de contenido | software engineer | Líder pioneras | GDG",
      title: "Mujeres en tech",
      contact: "https://www.instagram.com/v.dev.valen/",
      url: "https://youtu.be/yH-IA5oxdWU?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Yulimar Duque",
      avatar: YulimarDuque,
      role: "Creadora de contenido | frontend and mobile dev",
      title: "cómo destacar como frontend developer",
      contact: "https://www.instagram.com/laduquesadev/",
      url: "https://youtu.be/MStWLcpdkDc?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Miguel Teherán",
      avatar: MiguelTeheran,
      role: "Arquitecto de soluciones | mvp | platzi | udemy",
      title: "el ecosistema microsoft",
      contact: "https://www.instagram.com/mteheran.dev/",
      url: "https://youtu.be/X1rPLsCwEn8?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Cristian Moreno",
      avatar: CristianMoreno,
      role: "Fullstack Javascript Engineer | Google Dev Expert ",
      title: "El desarrollador fullstack es un invento de la sociedad",
      contact: "https://www.instagram.com/khriztianmoreno/",
      url: "https://youtu.be/_N_9zzXwpgs?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Berny Mohnblatt",
      avatar: BernyMohnblatt,
      role: "creador de contenido | emprendedor",
      title: "softwAre as a service",
      contact: "https://www.instagram.com/saas_berninimo/",
      url: "https://youtu.be/DwDdMEred9E?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Frank Valencia",
      avatar: FrankValencia,
      role: "Creador de contenido | Desarrollador de software",
      title: "¿Cómo iniciar en desarrollo de software?",
      contact: "https://www.instagram.com/sinruedatecnologica/",
      url: "https://youtu.be/Ykpj-hVLjts?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Luis Ospina",
      avatar: LuisOspina,
      role: "estudiante it",
      title: "becas it en alemania",
      contact: "https://www.instagram.com/luis_ospinaq/",
      url: "https://youtu.be/2H5jrxS0Oos?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Farid Moreno",
      avatar: FaridMoreno,
      role: "Creador de contenido | desarrollador de software",
      title: "¿PHP está muerto?",
      contact: "https://www.instagram.com/farid_moreno/",
      url: "https://youtu.be/CxujFjrQlmM?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Ricardo Santos",
      avatar: RicardoSantos,
      role: "Creador de contenido | Staff AI Engineer",
      title: "Ingeniería Sin Fronteras: Liderando la Tecnología Global",
      contact: "https://www.instagram.com/tibiritabara90/",
      url: "https://youtu.be/SLupfqWbKXw?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Cristian Henao",
      avatar: CristianHenao,
      role: "Creador de contenido | Instructor sena",
      title: "La manera en que se enseña es la clave del aprendizaje",
      contact: "https://www.instagram.com/cristiandavidhenaoh/",
      url: "https://youtu.be/oG3wVjwgKXc?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Natalia Betancur",
      avatar: NataliaBetancur,
      role: "Científica de Datos Senior | docente universitaria",
      title: "La influencia de la ciencia de datos en la tecnología",
      contact: "https://www.instagram.com/nata.py_/",
      url: "https://youtu.be/P75tmAuj1cc?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Angie Gorett Suárez",
      avatar: AngieSuarez,
      role: "Psicóloga, Magister en educación | Soft Skill trainer Campuslands",
      title:
        "Aprender a aprender: la skill más importante de la industria tech",
      contact: "https://www.instagram.com/learningorett/",
      url: "https://youtu.be/p9OaJQ3bB44?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Halltec óscar Aguillón y Camilo Hernández",
      avatar: Halltec,
      role: "Creador de Contenido | Empresarios",
      title: "cómo crear una empresa de software y no morir en el intento",
      contact: "https://www.instagram.com/halltec/",
      url: "https://youtu.be/NqSGshterbI?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Jamilton Quintero",
      avatar: JamiltonQuintero,
      role: "Creador de Contenido",
      title: "¿El desarrollador se hace o nace?",
      contact: "https://www.instagram.com/jamiltonquintero1/",
      url: "https://youtu.be/F_6hvA9q6g8?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Luis Jiménez",
      avatar: LuisJimenez,
      role: "Creador de Contenido",
      title: "¿qué implica crear una startup para un desarrollador?",
      contact: "https://www.instagram.com/soyluismi/",
      url: "https://youtu.be/VtpIQwLqJ90?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Ana Rangel",
      avatar: AnaRangel,
      role: "Creador de Contenido",
      title: "El mundo se mueve gracias al ux",
      contact: "https://www.instagram.com/ux.ana.rangel/",
      url: "https://youtu.be/MWtgC9vXGlo?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Erik Almaraz",
      avatar: ErikAlmaraz,
      role: "Creador de Contenido",
      title: "claves para destacar como desarrollador de software",
      contact: "https://www.instagram.com/erikalmaraz_/",
      url: "https://youtu.be/q0iyMRIWN9A?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Sergio Ospina",
      avatar: SergioOspina,
      role: "Creador de Contenido",
      title: "Cómo convertirse en un crack: La historia detrás de los LEGO",
      contact: "https://www.instagram.com/reinodelcoleccionista/",
      url: "https://youtu.be/UL_qLJ4hcU4?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Jaime Cuéllar",
      avatar: JaimeCuellar,
      role: "Aprendiz SENA",
      title:
        "ADSO SENA: Mi experiencia de la etapa lectiva a la productiva y novedades 2024",
      contact: "https://www.instagram.com/jaimea.cuellar/",
      url: "https://youtu.be/b9V4w2rVJEM?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Laura Vélez - Appitoria",
      avatar: LauraVelez,
      role: "Fullstack Developer .Net",
      title: "El estado del arte de .Net",
      contact: "https://www.instagram.com/appitoriadev",
      url: "https://youtu.be/FgEcRosXgTM",
    },
    {
      name: "Jimmy Dolores - LogiDev",
      avatar: JimyDolores,
      role: "Creador de Contenido",
      title: "Todo Sobre Angular 17",
      contact: "https://www.youtube.com/@LogiDev",
      url: "https://youtu.be/x2mkqhbcBDw",
    },
    {
      name: "Miguel Silva",
      avatar: MiguelSilva,
      role: "Desarrollador de Software",
      title: "Así es participar en CampusLands",
      contact: "https://www.instagram.com/miguel_mans_/",
      url: "https://youtu.be/95__-WWVJv4",
    },
    {
      name: "Edu (ElProgramadotGT)",
      avatar: ElProgramadorGT,
      role: "Creador de Contenido",
      title: "Glasscamp - S28 | El Programadot GT",
      contact: "https://www.twitch.tv/elprogramadorgt",
      url: "https://youtu.be/QJSsBguUkxA",
    },
    {
      name: "Marcela Vargas",
      avatar: MarcelaVargas,
      role: "QA Engineer",
      title: "Cómo participar en un TechCamp y no morir en el intento",
      contact: "https://www.linkedin.com/in/ingridmarcelavargas-dwf/",
      url: "https://youtu.be/tdLwqSi2Vcw?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Miller Trujillo",
      avatar: MillerTrujillo,
      role: "Software Developer",
      title: "El camino a Google y Microsoft - Parte 1",
      contact: "https://www.instagram.com/matrujillo10/",
      url: "https://youtu.be/8yXy4k4KLQg?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Leandro Rivera",
      avatar: LeandroRivera,
      role: "Software Developer",
      title: "¿Cómo es la experiencia de participar en Generación TI?",
      contact: "https://www.linkedin.com/in/leandrorivera",
      url: "https://youtu.be/DJiGqOvOv4U?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Nicolás Vasquez",
      avatar: NicolasVasquez,
      role: "Cyberscurity",
      title: "¿Cómo es la experiencia de participar en Talento B?",
      contact: "https://www.instagram.com/nico_vasquez05",
      url: "https://youtu.be/1YcQJgkH6Mo?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Yo Androide",
      avatar: YoAndroide,
      role: "Software Developer",
      title: "¿Java está muerto?",
      contact: "https://www.youtube.com/@YoAndroide",
      url: "https://youtu.be/sFtNPjegW38?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Nicolás Fajardo",
      avatar: NicolasFajardo,
      role: "Data Scientist",
      title:
        "El Poder de los datos: Transformación de información en acciones concretas",
      contact:
        "https://www.linkedin.com/in/nicolasfajardodaza/?originalSubdomain=co",
      url: "https://youtu.be/Mkic9CN6RFg?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Rafael Capilla",
      avatar: RafaelCapilla,
      role: "Profesor U. Rey Juan Carlos",
      title: "Arquitecturas Software y Digitalización",
      contact: "https://ieeespain.org/directivos/rafael-capilla/",
      url: "https://youtu.be/XKtmNeWvAxc?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Darío Correal",
      avatar: DarioCorreal,
      role: "Profesor Uniandes",
      title: "hablemos del rol de: Desarrollador Frontend",
      contact: "https://www.instagram.com/jaimesanchezgalvis/",
      url: "https://youtu.be/eBrb0bo1TiE?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Jaime Sánchez",
      avatar: JaimeSanchez,
      role: "Frontend Developer",
      title: "hablemos del rol de: Desarrollador Frontend",
      contact: "https://www.instagram.com/jaimesanchezgalvis/",
      url: "https://youtu.be/ZxcJL7bxII8?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Juan Agogo",
      avatar: JuanAgogo,
      role: "Creador de Contenido",
      title: "La Inteligencia Artificial vienen por nosotros",
      contact: "https://www.twitch.tv/juanagogoo",
      url: "https://youtu.be/BSebdu6ofwo?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Héctor Fernández",
      avatar: HectorFernandez,
      role: "AWS Community Builder",
      title: "Serverless, el siguiente paso",
      contact: "https://www.linkedin.com/in/carlos-zambrano-aws/",
      url: "https://youtu.be/dHr3xNSEoHg?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Carlos Zambrano",
      avatar: CarlosZambrano,
      role: "AWS Hero",
      title: "El futuro está en la nube",
      contact: "https://www.linkedin.com/in/carlos-zambrano-aws/",
      url: "https://youtu.be/MgTrww6p5sk?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Andrés Hernández",
      avatar: AndresHernandez,
      role: "Developer Expert",
      title: "Team Lead Devs Latam",
      contact: "https://elixir-lang.org/",
      url: "https://youtu.be/CoBELc0eJDs?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Victor Trujillo",
      avatar: VictorTrujillo,
      role: "Software Architect",
      title: "Diseñando APIs agnósticas",
      contact: "",
      url: "https://youtu.be/q5dOSpFbEZ8?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
    {
      name: "Carlos Suárez",
      avatar: CarlosSuarez,
      role: "Software Architect",
      title: "Laboratorio APIs escalables con AWS",
      contact: "https://www.instagram.com/carlos.suarezq",
      url: "https://www.youtube.com/live/QGooErQIPCA?si=zv2SWBiBGeo1OtAC",
    },
    {
      name: "Pamsho",
      avatar: Pamsho,
      role: "Software Developer",
      title: "Tiembla Google por Chat-GPT",
      contact: "https://www.instagram.com/pamsho_/",
      url: "https://www.youtube.com/live/4yoGyl8w1Tg?si=r-SrAX5RwXhredEd",
    },
    {
      name: "Carlos Peñaranda",
      avatar: CarlosPenaranda,
      role: "Software Developer",
      title: "Cursín llega a los 500 K de descargas",
      contact: "https://www.instagram.com/carlostic26/",
      url: "https://www.youtube.com/live/EBRQcmeny9Q?si=PMuR52LAQscVwm2k",
    },
    {
      name: "Giovanny Ariza",
      avatar: GiovannyAriza,
      role: "Agile Coach",
      title: "Conviértete en un líder de innovación y agilidad",
      contact: "https://giosyst3m.net/giovanni-ariza",
      url: "https://youtu.be/bFSzPJajpn0?list=PL4LOq_2-aO28SPi1PJ11Js1CnbfHDnjel",
    },
  ],
}
---

<BaseLayout title={`Tryckers`}>
  <div
    class="max-w-5xl mx-auto my-16 p-8 bg-tc-black border border-gray-700 rounded-lg shadow-xl mt-24"
  >
    <h2
      class="text-tc-yellow text-2xl lg:text-3xl font-bold text-center mb-8 uppercase tracking-wide"
    >
      {info.title}
    </h2>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      {
        info.guests.map((guest) => (
          <div class="bg-tc-black-l rounded-lg shadow-md hover:shadow-2xl transition-transform transform hover:scale-105 p-6 flex flex-col items-center text-center border border-gray-700">
            <Image
              class="rounded-full h-24 w-24 object-cover mb-4 border-4 border-gray-600 shadow-lg transition-transform transform hover:scale-110"
              src={guest.avatar}
              alt={guest.name}
            />
            <h3 class="text-tc-yellow font-bold text-lg">{guest.name}</h3>
            <p class="text-gray-300 text-sm">{guest.role}</p>

            <div class="w-full flex flex-col mt-4">
              <div class="text-gray-400 text-xs mb-2">
                <span class="font-bold text-gray-200">🗣️ Tema:</span>{" "}
                {guest.title}
              </div>
              <hr class="border-t border-gray-600 my-3" />
              <div class="flex justify-center gap-4">
                <a
                  href={guest.contact}
                  target="_blank"
                  class="text-xs bg-gray-700 px-3 py-1 rounded-md hover:bg-tc-yellow hover:text-tc-black transition"
                >
                  🪪
                </a>
                <a
                  href={guest.url}
                  target="_blank"
                  class="text-xs bg-gray-700 px-3 py-1 rounded-md hover:bg-tc-yellow hover:text-tc-black transition"
                >
                  📹
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
